@import 'tailwindcss';

@layer base {
  :root {
    /* Typography */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --heading-h1: 1.75rem;
    --heading-h2: 1.5rem;
    --caption-text: 0.875rem;

    /* Colors */
    --text-primary: #111827;
    --text-secondary: #6b7280;
    --accent: #7e22ce;

    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;
    --bg-dark-primary: #111827;
    --bg-dark-secondary: #1f2937;
    --border: #e5e7eb;
    --border-dark: #374151;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--bg-dark-primary);
    color: var(--text-primary);
  }

  html.white body {
    background-color: var(--bg-dark-primary);
    color: white;
  }

  h1,
  h2,
  h3 {
    font-weight: var(--font-semibold);
  }
}
